@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-900 dark:text-white bg-background-light dark:bg-background-dark font-display;
  }
}
